<a href="https://colab.research.google.com/github/lynn-rotich/Python_Basics/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy

Python Libraries are a set of useful functions that eliminate the need for writing codes from scratch. There are over 137,000 python libraries present today, and they play a vital role in developing machine learning, data science, data visualization, image and data manipulation applications, and more.

In [ ]:
import pandas as pd
import numpy as np

![images.png]()


NumPy is a Python library used for working with arrays. It also has functions for working in domain of linear algebra, fourier transform, and matrices.

NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.

The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

Arrays are very frequently used in data science, where speed and resources are very important.

In [ ]:
import numpy as np


# list
list1 = [23, 45, 50, "Baraka", ""]

arr = np.array([12, 32, 45])

type(arr)

numpy.ndarray

In [ ]:
# !pip3 install numpy
import numpy as np



# Create a numpy array

arr = np.array([1, 2, 3, 4, 5])

print(arr)
# (arr[-1])

[1 2 3 4 5]

In [ ]:
x = 5

np.array(x)

array(5)

####Create a NumPy ndarray Object
NumPy is used to work with arrays. The array object in NumPy is called **ndarray**.

We can create a NumPy ndarray object by using the **array()** function.

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
lis = [1, 2, 3, 4, 5]

print(arr)
print(lis)
print(type(arr))

[1 2 3 4 5]
[1, 2, 3, 4, 5]
<class 'numpy.ndarray'>

## Dimensions in Arrays


![image.png]()


A dimension in arrays is one level of array depth (nested arrays).

a) 0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

In [ ]:
np.array(1)

array(1)

In [ ]:
list1  = [1,2,3,4]

new_list = []
for i in list1:
  new_list.append(i*5)

print(new_list)

[5, 10, 15, 20]

In [ ]:
# CHange list into np array
np_1 = np.array(list1)
print(np_1)

list_2 = []
for i in np_1:
   list_2.append(i*5)

list_2

[1 2 3 4]

[5, 10, 15, 20]

In [ ]:
list1  = [1,2,3,4]


# print(list1 * 5)

arr1 = np.array(list1)

print(arr1 * 5)

[ 5 10 15 20]

In [ ]:
# Create a 0-D array with value 42
arr_0 = np.array(42)

print(arr_0*5)

210

b) 1-D Arrays
An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

These are the most common and basic arrays.

In [ ]:
arr_1 = np.array([1, 2, 3, 4, 5])

print(arr_1)

[1 2 3 4 5]

c) 2-D Arrays
An array that has 1-D arrays as its elements is called a 2-D array.

These are often used to represent matrix or 2nd order tensors.

In [ ]:
import numpy as np
# Create a 2-D array containing two arrays with the values  age = 1,2,3 and  height = 4,5,6:
arr = np.array([[1, 2, 3], [4, 5, 6]])
# print(arr)


# arr.ndim

# type(arr)
# arr[1,1]

np.int64(5)

In [ ]:
list_1 = [0,1,2,3,4,5]

list_1[0:6]

[0, 1, 2, 3, 4, 5]

In [ ]:
age = [1,5,7]
h = [4,6,7]

age_arr = np.array(age)
h_arr = np.array(h)

arr = np.array([age_arr, h_arr])
arr.ndim

2

In [ ]:
x = np.array([[1,2],[2,5],[7,8]])

print(x)
print(x.ndim,'dimensions')

[[1 2]
 [2 5]
 [7 8]]
2 dimensions

In [ ]:
x[0]

array([1, 2])

In [ ]:
x[1:3]

array([[2, 5],
       [7, 8]])

In [ ]:
# To get 5
x[0:2]

array([[1, 2],
       [2, 5]])

In [ ]:
x

array([[1, 2],
       [2, 5],
       [7, 8]])

In [ ]:
x[:,1]

array([2, 5, 8])

In [ ]:
x[1][0]

2

In [ ]:
[[[[78]]]]

[[[[78]]]]

In [ ]:
num = 78

numarr = np.array(num, ndmin = 4)
print(numarr,)

[[[[78]]]]

)d) 3-D arrays
An array that has 2-D arrays (matrices) as its elements is called 3-D array. These are often used to represent a 3rd order tensor.

In [ ]:
# Create a 3-D array with two 2-D arrays, both containing two
# arrays with the values 1,2,3 and 4,5,6
arr_2 = np.array([[6,4,8],[5,6,1]])

print(arr_2)

# arr_2[1,1,1] Uncomment and resolve the code

[[6 4 8]
 [5 6 1]]

NumPy Arrays provides the ndim attribute that returns an integer that tells us how many dimensions the array have.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
d4 = np.array([[[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]],[[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]]])


# print(d4)
d4[0,0,0, 0]

1

In [ ]:
x = np.array([1,2,4,5],ndmin= 5)
x

array([[[[[1, 2, 4, 5]]]]])

In [ ]:
x.ndim

5

In [ ]:
# Check how many dimensions the arrays have

a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

### Higher Dimensional Arrays

An array can have any number of dimensions.

When the array is created, you can define the number of dimensions by using the ndmin argument.

In [ ]:
# Create an array with 5 dimensions and verify that it has 5 dimension
arr_n = np.array([1, 2, 3, 4], ndmin=5)

print(arr_n)
print('number of dimensions :', arr_n.ndim)

[[[[[1 2 3 4]]]]]
number of dimensions : 5

## Numpy Array Indexing
Array indexing is the same as accessing an array element.

You can access an array element by referring to its index number.

In [ ]:
# Get the first element from the following array:
arr = np.array([10, 20, 30, 40])
print(arr)
print(arr[0])

[10 20 30 40]
10

In [ ]:
# Get the second element from the following array.

print(arr[1])

20

In [ ]:
# Get third and fourth elements from the following array and add them.
arr_sum = np.array([11, 21, 31, 41])

print(arr_sum[2] + arr_sum[3])

72

To access elements from 2-D arrays we can use comma separated integers representing the dimension and the index of the element.

Think of 2-D arrays like a table with rows and columns, where the row represents the dimension and the index represents the column.

In [ ]:
# Access the element on the first row, second column:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print(arr)
print()
print('2nd element on 1st row: ', arr[0, 1])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

2nd element on 1st row:  2

In [ ]:
# Access the element on the 2nd row, 5th column:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print(arr)
print()
print('5th element on 2nd row: ', arr[1, 4])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

5th element on 2nd row:  10

To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

In [ ]:
# Access the third element of the second array of the first array:
arr_5 = np.array([[[1, 26, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr_5)
print('-')
print(arr_5[0,0,1])

[[[ 1 26  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
-
26

We use negative indexing to access an array from the end.

In [ ]:
# Print the last element from the 2nd dim:

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

## NumPy Array Slicing
Slicing arrays
Slicing in python means taking elements from one given index to another given index.

We pass slice instead of index like this: **[start:end]**.

We can also define the step, like this: **[start:end:step]**.

If we don't pass start its considered 0

If we don't pass end its considered length of array in that dimension

If we don't pass step its considered 1

In [ ]:
# Slice elements from index 1 to index 5 from the following array:

arr = np.array([10, 20, 30, 40, 50, 60, 70])

print(arr[1:5])

# The result includes the start index, but excludes the end index

[20 30 40 50]

In [ ]:
# Slice elements from index 4 to the end of the array:

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:])

[1 2 3 4 5 6 7]

Negative Slicing
- Use the minus operator to refer to an index from the end

In [ ]:
# Slice from the index 3 from the end to index 1 from the end:

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

STEP
Use the step value to determine the step of the slicing:

In [ ]:
#Example
# Return every other element from index 1 to index 6:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:6:2])

[2 4 6]

In [ ]:
# Return every other element from the entire array:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::3])

[1 4 7]

Slicing 2-D arrays

## Creating arrays with a defined data type

We use the array() function to create arrays, this function can take an optional argument: dtype that allows us to define the expected data type of the array elements

Below is a list of all data types in NumPy and the characters used to represent them.

- i - integer
- b - boolean
- u - unsigned integer
- f - float
- c - complex float
- m - timedelta
- M - datetime
- O - object
- S - string
- U - unicode string
- V - fixed chunk of memory for other type ( void )

In [ ]:
# Create an array with data type string:

arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

In [ ]:
# Create an array with data type 4 bytes integer:

arr = np.array([1, 2, 3, 4], dtype='i4')

print(arr)
print(arr.dtype)

[1 2 3 4]
int32

In [ ]:
# Quiz
# Get the data type of an array containing strings:


arr = np.array(['apple', 'banana', 'cherry'])

The best way to change the data type of an existing array, is to make a copy of the array with the **astype()** method.

The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.

In [ ]:
# Change data type from float to integer by using 'i' as parameter value:

arr = np.array([1.1, 2.1, 3.8])

newarr = arr.astype('i')

print(newarr)
print(newarr.dtype)

[1 2 3]
int32

In [ ]:
# Change data type from integer to boolean:

arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

## Join NumPy arrays
We pass a sequence of arrays that we want to join to the concatenate() function, along with the axis. If axis is not explicitly passed, it is taken as 0.

In [ ]:
# Join two arrays
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

In [ ]:
# Join two 2-D arrays along rows (axis=1) or axis = 0 (columns)

arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])

arr = np.concatenate((arr1, arr2), axis=0)
print(arr1)
print()
print(arr2)
print()
print(arr)

[[1 2]
 [3 4]]

[[5 6]
 [7 8]]

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

Joining Arrays Using Stack Functions

Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

We can concatenate two 1-D arrays along the second axis which would result in putting them one over the other, ie. stacking.

We pass a sequence of arrays that we want to join to the stack() method along with the axis. If axis is not explicitly passed it is taken as 0.

In [ ]:
# NumPy provides a helper function: hstack() to stack along rows.
# Example
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.hstack((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

In [ ]:
# NumPy provides a helper function: vstack()  to stack along columns.

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.vstack((arr1, arr2))

print(arr)

[[1 2 3]
 [4 5 6]]

In [ ]:
# NumPy provides a helper function: dstack() to stack along height, which is the same as depth.
arr1 = np.array([1, 2, 3])
print(arr1)
arr2 = np.array([4, 5, 6])
print(arr2)
arr = np.dstack((arr1, arr2))
print()

print(arr)

[1 2 3]
[4 5 6]

[[[1 4]
  [2 5]
  [3 6]]]

In [ ]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.stack((arr1, arr2), axis=1)

print(arr)

[[1 4]
 [2 5]
 [3 6]]

In [ ]:
array1 = np.array([[[1,2,3],[4,5,6],[7,8,9]]])

np.searchsorted(array1, 9)

ValueError: object too deep for desired array

## Splitting NumPy Arrays
Splitting is reverse operation of Joining.

We use array_split() for splitting arrays, we pass it the array we want to split and the number of splits.

In [ ]:
# Split the array in 3 parts
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

In [ ]:
# Split the array in 4 parts.
# If the array has less elements than required, it will adjust from the end accordingly.
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 4)

print(newarr)

Split Into Arrays

The return value of the array_split() method is an array containing each of the split as an array.

If you split an array into 3 arrays, you can access them from the result just like any array element:

In [ ]:
# Access the splitted arrays
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr[0])
print(newarr[1])
print(newarr[2])

In [ ]:
# Split the 2-D array into three 2-D arrays.

arr = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]])

newarr = np.array_split(arr, 3)

print(newarr)

In [ ]:
# Split the 2-D array into three 2-D arrays.
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.array_split(arr, 3)

print(newarr)

## Searching Arrays
You can search an array for a certain value, and return the indexes that get a match.

To search an array, use the where() method.

In [ ]:
# Find the indexes where the value is 4
arr = np.array([[1, 2], [3, 4], [5,6], [4, 4]])
print(arr)
x = np.where(arr == [4,4])

print(x)

# means that the value 4 is present at index 3, 5, and 6.

[[1 2]
 [3 4]
 [5 6]
 [4 4]]
(array([1, 3, 3]), array([1, 0, 1]))

In [ ]:
# Find the indexes where the values are even
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

x = np.where(arr%2 == 0)

print(x)

(array([1, 3, 5, 7]),)

There is a method called **searchsorted()** which performs a binary search in the array, and returns the index where the specified value would be inserted to maintain the search order

In [ ]:
#  Find the indexes where the value 7 should be inserted:
arr = np.array([6, 7, 8, 9])

x = np.searchsorted(arr, 7)

print(x)

1

# Quiz

In [ ]:
# 1. How do you create a 1D numpy array containing the numbers from 10 to 20 (inclusive)?

# A) np.array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
# B) np.arange(10, 21)
# C) np.linspace(10, 20, 11)
# D) Both B and C

In [ ]:
x = np.arange(10, 21)
print(x.ndim)
type(x)

1

numpy.ndarray

In [ ]:
# 2. Conver to a 4D array

arr = np.array([1, 2, 3, 4, 5, 6, 7], ndmin = 4)
# arr_4d = ...

In [ ]:
# 3. From the second element, slice elements from index 1 to index 4 (not included)

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr)
print()
print(arr[1, 1:4])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

[7 8 9]

In [ ]:
# 4. Given arr = np.array([1, 2, 3, 4, 5]), what will arr * 2 return?

In [ ]:
# 5. How do you reshape a 1D array arr = np.array([1, 2, 3, 4, 5, 6]) into a 2x3 matrix?
array.reshape(2,3)

In [ ]:
# 6. From both elements, return index 2:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1:2, 2])

[8]

In [ ]:
# 7. From both elements, slice index 1 to index 4 (not included), this will return a 2-D array:
x = [1, 2, 3, 4, 5]
y = [6, 7, 8, 9, 10]
z = [36, 76, 68, 69, 106]

arr_7 = np.array([x, y,z])
print(arr_7)
print()
print(arr_7[0:2,  1:4])

[[  1   2   3   4   5]
 [  6   7   8   9  10]
 [ 36  76  68  69 106]]

[[2 3 4]
 [7 8 9]]

In [ ]:
# 8. Use the correct NumPy method to find all items with the value 5.

arr = np.array([1, 2, 5, 3, 4, 5, 4, 4])

np.where(arr ==5)

(array([2, 5]),)

In [ ]:
# 9.Insert the correct slicing syntax to print the following selection of the array:

# Everything from (including) the second item to (not including) the fifth item.

arr = np.array([10, 15, 20, 25, 30, 35, 40])

In [ ]:
# 10. Build a function to calculate the standard deviation of a numpy array